<div id="chat-box">
    <div id="chat-display-container">
        <ul id="messageList">
            <li class="other-message">
                <span>
                    Other Message
                </span>
            </li>
            <li class="self-message">
                <span>
                    Self Message
                </span>
            </li>
        </ul>
    </div>
    <div id="chatTypingArea-container">
        <form>
            <input placeholder="write the message here" id="chatTyping-area">
            <button id="send-btn">Send</button>
        </form>
    </div>
</div>