<header>
    <div id="logo">
        <h3 id="header-heading">Codeial</h3>
    </div>
    <div id="links">

        <% if(locals.user){ %>
            <li>
                <a href="/user/profile/<%=user.id %>">
                    <%= user.name %>
                </a>

            </li>
            <li><a href="/user/sign-out">Sign Out</a></li>
            <% } else {%>
                <li><a href="/user/sign-in">Sign In</a></li>
                <li><a href="/user/sign-up">Sign Up</a></li>

                <%}%>
    </div>
</header>