<link rel="stylesheet" type="text/css" href="/css/forgotPassword.css">
<div class="outer-container">
    <div class="inner-container">
        <h2>
            Find Your Account
        </h2>

        <form action="/user/recover" method="GET">
            <label for="emailid">
                <h3>
                    Please enter your email address or mobile number to search for your account.</h3>
            </label>
            <input type="email" name="email" required placeholder="Enter the Email Id" id="emailid">
            <input type="submit">
        </form>

    </div>

</div>