<link rel="stylesheet" type="text/css" href="/css/home.css">


<div id="home-container">
    <section id="groups-list" class="mt50x">

    </section>

    <section id="feed-posts" class="mt50x">

        <% if(locals.user){ %>

            <h4>Post</h4>
            <form action="/posts/create" id="new-post-form" method="POST">
                <Textarea name="content" cols="30" rows="3" placeholder="What's on your mind, <%=user.name%>?"
                    required></Textarea>
                <input type="submit" value="Post">

            </form>
            <%}%>
                <div id="posts-container">
                    <ul>
                        <% for(post of posts) {%>
                            <%-include('_post')-%>
                                <%}%>
                    </ul>
                </div>


    </section>
    <section id="users-friends" class="mt50x">
        <h4>F.R.I.E.N.D.S</h4>
        <% for(u of all_users) {%>
            <p>
                <a href="/user/profile/<%= u.id%>">
                    <%= u.name %>
                </a>

            </p>
            <%}%>
    </section>
</div>
<script src="/js/home_posts.js" type="text/javascript">
</script>
<script src="/js/home_comments.js" type="text/javascript"></script>
<script src="/js/toggle_likes.js" type="text/javascript"></script>
<script>
    $('.toggle-like-btn').each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    });
</script>