<link type="text/css" rel="stylesheet" href="/css/resetPassword.css">
<% if(resetPasswordToken.isValid){ %>
    <div id="outer-container">

        <div id="form-resetForm-container">
            <form action="/user/reset-password/?accessToken=<%=resetPasswordToken.accessToken%>" method="POST">
                <input type="password" name="newPass" required placeholder="New Password">
                <input type="password" name="confPass" required placeholder="Confirm Password">
                <input type="submit" value="Create Password">
            </form>
        </div>
    </div>
    <% }else { %>
        <div id="outer-container">

            <div id="form-resetForm-container">
                <h1 style="color: white">Your Token is expired!!</h1>
            </div>
        </div>
        <% } %>