<link rel="stylesheet" type="text/css" href="/css/userSignIn.css">
<div id="form-container">
    <form action="/user/create-session" method="POST">
        <input type="email" name="email" required placeholder="Enter email id">
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Log In</button>
    </form>

    <p class="googleOAuth">
        <a href="/user/auth/google">
            <i class="fab fa-google"></i>
            Sign In/Sign Up with google
        </a>
    </p>
</div>
<script src="https://kit.fontawesome.com/cc26b0a284.js" crossorigin="anonymous"></script>