<link rel="stylesheet" type="text/css" href="/css/userSignIn.css">
<div id="form-container">
    <form>
        <input type="email" name="email" required placeholder="Enter email id">
        <input type="password" name="password" placeholder="Enter Password" required>
        <button type="submit">Log In</button>
    </form>
</div>