.outer-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #E9EBEE; }
  .outer-container .inner-container {
    padding: 20px;
    top: 50;
    left: 50;
    width: 700px;
    height: 300px;
    background-color: #ffff;
    z-index: 1; }
    .outer-container .inner-container h2 {
      color: #162643; }
    .outer-container .inner-container form h3 {
      font: 1.2em sans-serif; }
    .outer-container .inner-container form input {
      color: darkolivegreen;
      font-size: 5rem sans-serif;
      width: 600px;
      height: 50px;
      font-weight: bolder; }
    .outer-container .inner-container form input::placeholder {
      color: darkolivegreen;
      font-size: 5rem sans-serif !important;
      font-weight: bolder; }
    .outer-container .inner-container form input:focus {
      outline: none; }
    .outer-container .inner-container form input[type="submit"] {
      width: 200;
      background-color: darkolivegreen;
      color: white; }
