header {
  height: 10%;
  width: 99%;
  background-color: #1286f8;
  display: flex;
  flex-direction: row;
  max-height: 50px;
  justify-content: space-between;
  color: white;
  padding: 5px;
  font-size: larger;
  margin-left: 0px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 50px;
  position: fixed;
  box-shadow: 1px 5px 5px 1px lightgrey; }
  header a {
    color: white;
    text-decoration: none;
    font-size: large;
    font-weight: bold; }
  header #links {
    list-style: none;
    display: flex;
    flex-direction: column; }
