<div>

    <hi>
        Hi, <%=resetPasswordToken.user.name %>
    </hi>
    <Br>
    <Br>
    <h2>click on the link for resetting password</h2>
    <Br>
    <Br>
    <a href="http://localhost:7000/user/reset-password/?accessToken=<%=resetPasswordToken.accessToken%>">click here</a>
    <Br>
    <Br>
    <p>Thanks!</p>



</div>